<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Star Wars App</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">


    <ion-card button="true" href="/heroes"> 
      <ion-card-header>
        <ion-card-title>Hero List</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        Choose to view a full list of Star Wars Heroes.
      </ion-card-content>
    </ion-card>
    
  </div>
</ion-content>